@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#smile:hover{
    transform: scale(1.1);
    z-index: 3; 
}

i::before{
    animation: fa-beat;
}

#smile{
    margin: 20px;
}

#player{
    float: left;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: black;
}

#player:hover, #drink:hover{
    transform: scale(1.1);
    z-index: 3; 
}

#drink{
    float: right;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: black;
}