@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";




#smile:hover{
    transform: scale(1.1);
    z-index: 3; 
}

i::before{
    animation: fa-beat;
}

#smile{
    margin: 20px;
}

#player{
    height: 200px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
}
